@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-track{
background:#0B1120;
}

::-webkit-scrollbar-thumb{

background:rgba(59,130,246,.5);

border-radius:10px;

}

::-webkit-scrollbar-thumb:hover{

background:#3B82F6;

}